*{
    margin: 0px;
    padding: 0px;
}

.containerHome{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 140px 70px 1fr;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.containerHome .navBarHome{
    grid-column: 1 / 9;
    height: 100px;
    background: black;     
}

.containerHome .menuHome{
    grid-column: 1 / 3;
    grid-row: 2 / 5;
}

.containerHome .searchHome{
    grid-column: 3 / 9;
    height: 70px;
}

.containerHome .pokeHome,
.containerHome .createPokeHome{
    
    grid-column: 3 / 9;
    grid-row: 3 / 6;
}

.containerHome .footerHome{
    grid-column: 1 / 9;
}

.buttonHome{
    color: white;
}
