.containerNavBar{
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    height: 100px;
}

.imageNavBar{
    height: 80%;
}

.imageNavBar:first-child{
    height: 70%;
}


