.containerPagination .ulPagination{
    text-align: center;
    width: 100%;
    margin: 0px auto;
    color: white;
}


.containerPagination .ulPagination .elements{
    display: inline-flex;
    justify-content: space-around;
    padding: 3px;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    width: 30px;
    background: linear-gradient(to bottom, #71d9ff 0%, rgba(58, 91, 170, 1) 50%, #0a759c 100%);
    transition: all 200ms;
}

.containerPagination .ulPagination .elements:hover{
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
}

.containerPagination .ulPagination .elements .items{
    text-decoration: none;
    color: white;
}

.containerPagination .ulPagination .elements:hover .items{
    color: black;
}
