.containerData{
    height: 420px;
}

.allData{
    display: flex;
    margin-left: 60px;
    align-items: center;
}

.allData .dataDetail{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.allData .imageDetail{
    margin-right: 100px;
    width: 250px;
    height: 250px;
}

.allData .sectionData{
    align-content: left;
    border: 1px solid black;
    border-radius: 20px;
    background: linear-gradient(to bottom, #71d9ff 0%, rgba(58, 91, 170, 1) 50%, #0a759c 100%);
    /* background-color: black; */
    box-shadow: 0px 0px 8px white inset;
    width: 280px;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 18px;
    font-weight: bold;
}

.allData .prop,
.allData .value{
    font-size: 18px;
    margin-top: 10px;
    padding: 2px;
}

.allData .prop{    
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    background-color: white;
    color: black;
}

.allData .value{
    margin-left: 10px;
}




.containerData #buttonPokemons{
    padding: 6px;
    background: linear-gradient(to bottom, #71d9ff 0%, #0a759c 100%);
    border-radius: 20px;
    border: 1px solid lightblue;
    font-weight: bold;
    font-size: 18px;
    margin-top: 45px;
    cursor: pointer;
    border: 1px solid black;
    padding: 10px;
    color: black;
    width: 150px;
    margin-left: 300px;
}

.containerData #buttonPokemons:hover{
    border: 1px solid white;
    box-shadow: 0px 0px 8px white;
}