.containerSearchBar{
    display: flex;
    align-items: center;
}

.searchBar{
    outline: none;
    border-radius: 15px;
    /* background: rgba(253, 204, 5, 1); */
    background-color: #ccc;
    padding: 0.3rem 0 0.3rem 1rem;
    box-shadow: 3px 3px 5px black;
}

.lupa{
    margin-left: 1rem;
}

.containerSearchBar #containerLupa:hover{
    cursor: pointer;
}