.containerSearchBar{
    display: flex;
    align-items: center;
}

.searchBar{
    outline: none;
    height: 30px;
    width: 30%;
    margin-left: 200px;
    border-radius: 15px;
    background: rgba(253, 204, 5, 1);
    padding-left: 10px;
    font-size: 15px;
    box-shadow: 3px 3px 5px black;
}

.lupa{
    font-size: 35px;
    margin-left: 6px;
    padding-top: 7px;
}

.containerSearchBar #containerLupa:hover{
    cursor: pointer;
}