/* .containerLanding{
    background-image: url('../img/pokeNegro3.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    
}  */
.containerLanding{
    overflow-x: hidden;
    text-align: center;
}

.containerLanding .containerFlex{
    flex-flow: column wrap;
    justify-content: space-evenly;
    min-height: 100vh;
}
.imageLan{
    width: 35rem;
}

.buttonLanding a{
    text-decoration: none;
}
.buttonLanding h1{
    cursor: pointer;
    background: #ccc;
    width: fit-content;
    margin: 0px auto;
    font-size: 1.5rem;
    border-radius: 15px;
    text-shadow: 1px 1px black, 2px 1px gray, 4px 1px #ccc, 5px 1px white;
    font-family: sans-serif;
    padding: 0.2rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    box-shadow: 0px 0px 8px lightblue;
    color: black;
    opacity: 0.5;
}

.buttonLanding h1:hover{
    box-shadow: 0px 0px 15px lightblue;
    opacity: 0.8;
}

